body{
    /*background-image: url('../assets/image.png');*/
    background: rgb(9, 4, 68);
    /* overflow: hidden; */
    background-attachment:fixed;
    background-blend-mode: darken;
    background-repeat: no-repeat;

}

.name{
    color: aliceblue !important;
    font-size: 50px;
    align-items: center;
    line-height: 1.3;
    font-weight: 300;
    justify-content: center;
    align-content: center;
    text-decoration: underline;
    letter-spacing: 4px;
}


.routing-page{
    padding: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* position:fixed; */
}

.routing-page button{
    border-style: double;
    border-radius: 20px;
    background-color: rgb(9, 4, 68);
    border-color: aliceblue;
    color: aliceblue;
    font-size: 16px;
    display: inline-block;
    padding: 15px;
    font-weight: bold;
}

.routing-page a{
    text-decoration: none;
    padding: 10px;
}
.routing-page button:hover{
    text-decoration: none;
    background-color: rgb(138, 173, 222);
    color: rgb(9, 4, 68);
    
}

.about-content{
    color: rgb(146, 183, 215);
    width: 70%;
    font-size: 20px;
    text-align: left;
    letter-spacing: 1px;
}

.star{
    padding-top: 10%;
    color:aliceblue;
    font-size: 30px;
    width: 100%;
}



.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(138, 173, 222);
    /* background-image: url("../projects/rb-crow.gif");
    background-repeat: no-repeat; */
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.preloader img{
    height: 150px;
    width: 150px;

}



.content {
    display: none; 
}

.content.show {
    display: block; 
}
  
  @media screen and (max-width:440px)  {

    .preloader img{
        width: 100px;
        height: 100px;
    }
    
  }